beautifulsoup4
certifi
cffi
charset-normalizer
colorama
contourpy
curl-cffi
cycler
exchange-calendars
fonttools
frozendict
idna
iniconfig
kiwisolver
korean-lunar-calendar
matplotlib
multitasking
numpy
packaging
pandas
peewee
pillow
platformdirs
pluggy
protobuf
pulp
pycparser
pygments
pyluach
pyparsing
pyrate-limiter
pytest
python-dateutil
pytz
requests
requests-ratelimiter
scipy
six
soupsieve
toolz
typing-extensions
tzdata
urllib3
websockets
yfinance
yfinance-cache